.bg {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(55, 194, 147);
}

.chat {
  background-color: white;
  width: 90vw;
  height: 90vh;
  border-radius: 15px;
}

.centername {
  position: absolute;
  width: 150px;
  left: 80px;
}

.rightbtn {
  position: relative;
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 2px;
}

.rightbtn > form {
  display: flex;
  align-items: center;
  width: 1px;
}

form > input {
  display: flex;
  position: absolute;
  font-size: 5px;
  width: 120px;
  height: 30px;
  right: 5px;
  background-color: rgba(0, 255, 0, 0.1);
  border: 2px solid rgb(55, 194, 147);
  border-radius: 30px;
  top: -6px;
}

form > img {
  position: absolute;
  height: 25px;
  right: 6px;
  z-index: 1;
  top: -3px;
}

.friendprofile {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 255, 0, 0.1);
}

.friendleftimage {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.friendleftimage > img {
  height: 100%;
}

.chatmessage {
  font-weight: 400;
  font-size: 11px;
}
